@import "../../app.scss";

.parallax {
  width: 100%;
  height: 100vh; // Ensure it takes the full viewport height
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(135deg, #F9F9F9 0%, #e0e0e0 100%);

  h1 {
    font-size: 80px;
    position: relative;
    z-index: 12;

    @include mobile {
      font-size: 72px;
      text-align: center;
    }
  }

  .mountains,
  .jungle1,
  .jungle2,
  .jungle3,
  .jungle4,
  .jungle5,
  .logoland,
  .background,
  .manonmountain {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .mountains {
    background-image: url("mountains.png");
    z-index: 4;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .background {
    z-index: 11;

    @include mobile {
      background-size: 400%;
      background-repeat: no-repeat;
    }
  }

  .jungle1 {
    background-image: url("/jungle1.png");
    z-index: 6;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .jungle2 {
    background-image: url("/jungle2.png");
    z-index: 7;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .jungle3 {
    background-image: url("jungle3.png");
    z-index: 8;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .jungle4 {
    background-image: url("jungle4.png");
    z-index: 9;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .jungle5 {
    background-image: url("jungle5.png");
    height: 150%;
    z-index: 10;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .logoland {
    background-image: url("logo_land.png");
    z-index: 5;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .manonmountain {
    z-index: 12;
  }
}
